<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="{{ url_for('home') }}">Return to Home</a>
    <title>High School Students Performance Dashboard</title>
    <style type="text/css">
        .chartBox {
            width: 700px;
        }
    </style>
  </head>
  <body>

    <div id="container">
        <h2>Analysis based on higher ed goal</h2>
   
         <label for="gradeDropdown">Select Grade:</label>
         <select id="gradeDropdown" >
            <option value="">-- Select --</option>
            <option value="80,20">A</option>
            <option value="70,30">B</option>
            <option value="40,60">C</option>
            <option value="10,90">D</option>
         </select>
     
         <p id="demo"></p>
         <div class="chartBox">
            <canvas id="myChart" ></canvas>
        </div>
     </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>

         //setup block
        const data = {
                labels: ['Yes', 'No'],
                datasets: [{
                label: 'Higher Ed Goal',
                data: [80, 20],
                borderWidth: 1
                }]
            };

        //config block
        const config = {
          type: 'pie',  
          data,
          options: {}
          };

          //render block
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );

        const gradeDropdown = document.getElementById('gradeDropdown');
        gradeDropdown.addEventListener('change', goalTracker);
        function goalTracker(){
           // const label = gradeDropdown.options[gradeDropdown.selectedIndex].text;
            //myChart.data.datasets[0].label = label;
            myChart.data.datasets[0].data = gradeDropdown.value.split(',');

            myChart.update();
        }
          
    </script>

    
  </body> 
  